*{
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #141414;
  color: #fff;
  line-height: 1.6;
}
header {
  background-color: #222;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  margin-right: 50px;
}
.search-container {
  display: flex;
}
#search-input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 200px;
  background-color: #333;
  color: #fff;
}
#search-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #e50914;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.category-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.category-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}
.category-btn.active {
  background-color: #e50914;
}
.category-btn:hover {
  opacity: 0.8;
}
main {
  padding: 2rem;
}
.category-section {
  margin-bottom: 2rem;
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
}
.movie-card {
  background-color: #222;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}
.movie-card:hover {
  transform: scale(1.05);
}
.movie-card img {
  width: 100%;
  height: auto;
  display: block;
}
.movie-card h3 {
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
}
.wrapper{
  min-height: 65vh;
}
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 30px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer h3 {
  margin: 0;
  font-size: 1.2rem;
}

footer p {
  margin: 5px 0 0;
  font-size: 0.9rem;
}

footer a {
  color: #e50914;
  text-decoration: none;
}



.movie-card .release-date {
  font-size: 0.8rem;
  color: #aaa;
  margin-bottom: 0.2rem;
}
.movie-card .overview {
  font-size: 0.9rem;
  color: #ccc;
  max-height: 4rem;
  overflow: hidden;
}
/* Responsive Design */
@media (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: flex-start;
  }

  .search-container {
      margin-top: 1rem;
      width: 100%;
  }

  #search-input {
      width: 100%;
  }
  #search-button:hover {
  background-color: #b20710;
  transition: background-color 0.3s ease;
}

}
